#main-menu {
    background-color: rgb(42, 43, 43);
    color: whitesmoke;
}

.app-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

#main-menu ul {
   display: inline;
   margin-left: 100px;
}

#main-menu ul li {
      list-style-type: none;
      padding-left: 30px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 16px;
      float: left;
}

#main-menu a {
    color: whitesmoke;
    text-decoration: none;
}

#main-menu a:hover {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 2px solid rgb(123, 37, 37);
}


#main-menu a:active {
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid white;
}
