<div class="rform">
    <h3> Post your Enquiry</h3>
   <form [formGroup]="eform" (submit)="postEnquiry()">
   <table>
      <tr>
         <td class="item-label"> Name </td>
         <td><input type="text" class="medium-input"></td>
      </tr>
      <tr>
        <td class="item-label"> Email </td>
        <td><input type="text" class="medium-input" ></td>
     </tr>
     <tr>
        <td class="item-label"> Subject </td>
        <td><input type="text" class="large-input"></td>
     </tr>

     <tr>
        <td class="item-label"> Description</td>
        <td><textarea class="large-input"></textarea></td>
     </tr>

     <tr>
    
        <td  colspan="2">
            <mat-slide-toggle [(ngModel)]="ftoggle">Upload Document</mat-slide-toggle>
        </td>
     </tr>

     <tr *ngIf="ftoggle">
        <td class="item-label"> Upload File </td>
        <td><input type="file" class="medium-input" ></td>
     </tr>

     <tr>
    
        <td style="text-align: center" colspan="2">
            <button mat-raised-button color="primary" type="submit"
               (click)="postEnquiry()"

             >Post Enquiry</button></td>
     </tr>
   </table>
</form>
   
</div>